@font-face {
	font-family: 'Archive';
	src: url('./Archive.eot');
	src: local('Archive'), url('./Archive.woff') format('woff'), url('./Archive.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_19363">Text with this font applied</p> */
.fontsforweb_fontid_19363 {
	font-family: 'Archive' !important;
}

/* Font downloaded from FontsForWeb.com */